.feedback {
  margin-top: 50px;
  margin-left: 120px;

  &__email {
    background-color: darken($primaryColor, 2%);
    color: $secondaryColor;
    width: 100%;
    max-width: 360px;
    height: 50px;
    border-radius: 4px;
    border: 1px rgba(lighten($primaryColor, 29%), 0.5) solid;
    box-sizing: border-box;
    padding-left: 20px;
    cursor: pointer;

    &::placeholder {
      @include font(13px, 2, 500);
      color: $secondaryColor;
      opacity: 0.5;
      transition: 0.5s;
    }

    &:focus {
      outline: none;
      border: 1px lighten($primaryColor, 29%) solid;

      &::placeholder {
        color: transparent;
      }
    }

    &:hover::placeholder {
      opacity: 1;
    }
  }

  &__button {
    width: 30px;
    height: 28px;
    border: none;
    position: relative;
    left: -40px;
    vertical-align: middle;
    background-color: transparent;
    color: $secondaryColor;
    @include font(13px, 2.1, 500);
    display: none;
  }

  &__button_active {
    display: inline-block;
  }

}
