@import "link";

.links {
  @include flex(center, space-between);
  margin-right: 120px;

  @include laptop() {
    & {
      margin-right: 60px;
    }
  }

  @include tablets {
    & {
      display: none;
    }
  }

  &_menu {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0;
  }
}
