.paginator {
  @include flex(center);
  margin-top: 50px;
  gap: 20px;
  order: 4;

  &__button {
    @include wh(50px, $r: 50%);
    background-color: lighten($primaryColor, 6%);
    border: none;
    transition: opacity 0.5s;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      outline: 1px solid $secondaryColor;
    }
  }

  &__button_left:after {
    content: "";
    position: relative;
    display: block;
    @include wh(11px);
    border-left: $secondaryColor solid 2px;
    border-bottom: $secondaryColor solid 2px;
    left: 15px;
    transform: rotate(45deg);
  }

  &__button_right:after {
    content: "";
    position: relative;
    display: block;
    @include wh(11px);
    border-top: $secondaryColor solid 2px;
    border-right: $secondaryColor solid 2px;
    left: 10px;
    transform: rotate(45deg);
  }

  @include tablets() {
    & {
      order: 2;
      margin: 0 18px 0 90px;
      gap: 10px;
      position: absolute;
      top: 5px;
      right: 18px;
    }

    &__button {
      width: 24px;
      height: 24px;
    }

    &__button_left:after {
      @include wh(7px);
      left: 3px;
    }

    &__button_right:after {
      @include wh(7px);
      left: 0;
    }
  }
}
