@import "../vendor/normalize.css";
@import "../vendor/fonts/font.css";

@import "./modules/variables";
@import "./modules/mixins";
@import "./modules/function";

@import "./modules/blocks/body";
@import "./modules/blocks/page";
@import "./modules/blocks/header";
@import "./modules/blocks/links";
@import "./modules/blocks/burger";
@import "./modules/blocks/lead";
@import "./modules/blocks/quote";
@import "./modules/blocks/covering";
@import "./modules/blocks/gallery";
@import "./modules/blocks/paginator";
@import "./modules/blocks/bikes";
@import "./modules/blocks/bike-fix";
@import "./modules/blocks/exercises";
@import "./modules/blocks/footer";
@import "./modules/blocks/feedback";
@import "./modules/blocks/toggle";
@import "./modules/blocks/line";
@import "./modules/blocks/radio";
@import "./modules/blocks/logo";
@import "./modules/blocks/popup";

:root .colorTheme {
  --primaryColor: #f4f4f4;
  --secondaryColor: #151515;
  --thirdPartColor: #222222;
  --footerColor: #efefef;
  --borderColor: rgba(199, 199, 199, 0.5);
  --iconColor: #cfcfcf;
  --lineColor: #e3e3e3;
  --buttonColor: #ebebeb;
  --radioButtonColor: #ececec;
  --tobbleBackgroundColor: #ffffff;
}

:root .colorThemeDark {
  --primaryColor: #333333;
  --secondaryColor: #ffffff;
  --thirdPartColor: #e5e5e5;
  --footerColor: #2f2f2f;
  --borderColor: rgba(125, 125, 125, 0.5);
  --iconColor: #565656;
  --lineColor: #565656;
  --buttonColor: #434343;
  --radioButtonColor: #434343;
  --tobbleBackgroundColor: #545454;
}
